.flex_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    flex-direction: column;
}

.message_container {
    padding: 6px 16px;
    margin: 5px 0;
    border: 2px solid #ccc;
    border-top: #eee solid 1px;
    border-left: indianred solid 4px;
    border-radius: 0.5rem;
    transition: transform 0.2s ease;
    width: 20%;
}

.message_container:hover {
    transform: scale(1.02);
    transition: transform 0.4s ease;
}

.names {
    font-weight: bold;
    font-size: 16px;
}

.message_container .names::after {
    content: "(about ####)";
    padding-left: 10px;
    font-weight: lighter;
    color: #666;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.message_container:hover .names::after,
.message_container:hover .service_name::after {
    opacity: 1;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.message_container:not:hover .names::after,
.message_container:not:hover .service_name::after {
    animation: fadeOut 0.3s ease;
}

.service {
    padding: 0;
    margin: 0;
    border: 0;
}

.service_name {
    margin: 5px 0;
    color: #666;
    font-size: 14px;
}

.service:hover {
    cursor: pointer;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.textinput {
    margin-bottom: 5px;
}

button::before {
    content: "📝";
    padding-right: 7px;
}
button {
    color: #444;
    font-size: 12px;
    display: block;
    height: 40px;
    background: transparent;
    border: solid 1px #e1e5ee;
    border-radius: 0.5rem;
    padding: 0 15px;
    margin-top: 5px;
}
button:hover {
    background-color: #eeffee;
    color: darkgreen;
    border-color: #90ee90;
    cursor: pointer;
}