img, h1 {
    display: inline-block;
    vertical-align: middle;
}

img {
    height: 45px;
    margin-bottom: 15px;
}

.profile-info {
    position: relative;
    width: 20rem;
    margin: 0 auto;
    background: #fff;
}

.profile-info div {
    position: relative;
    margin-bottom: 15px;
}

.profile-info div.textinput input {
    display: block;
    width: 400px;
    height: 40px;
    background: transparent;
    border: solid 1px #e1e5ee;
    border-radius: 0.5rem;
    padding: 0 15px;
}

.profile-info div.textinput input:focus {
    border-color: darkgray;
}

.profile-info div label {
    position: absolute;
    cursor: text;
    z-index: 2;
    font-size: 12px;
    background: #fff;
    padding: 3px 5px;
    color: #444;
}

.profile-info div.textinput label {
    top: 14px;
    left: 10px;
    font-weight: bold;
    padding: 0 10px;
}

.profile-info div.textinput input:focus + label,
.profile-info div.textinput input:valid + label {
    font-size: 11px;
    top: -5px;
}

.profile-info div.textinput input:focus + label {
    color: indianred;
}

input:focus {
    outline: none;
}