body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topnav {
    overflow: hidden;
    background-color: #333;
    height: inherit;
}

#topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#topnav a:hover {
    background-color: #ddd;
    color: black;
}

#topnav a.active {
    background-color: indianred;
    color: white;
}

.topnav-right {
    float: right;
}

form {
    position: relative;
    width: 20rem;
    margin: 0 auto;
    background: #fff;
}

form div {
    position: relative;
    margin-bottom: 15px;
}

form div.textinput input {
    display: block;
    width: 400px;
    height: 40px;
    background: transparent;
    border: solid 1px #e1e5ee;
    border-radius: 0.5rem;
    padding: 0 15px;
}

form div.textinput input:focus {
    border-color: darkgray;
}

form div label {
    position: absolute;
    cursor: text;
    z-index: 2;
    font-size: 12px;
    background: #fff;
    padding: 3px 5px;
    color: #444;
}

form div.textinput label {
    left: 10px;
    top: -5px;
    font-weight: bold;
    padding: 0 10px;
    font-size: 11px;
}

form div.textinput input:focus + label,
form div.textinput input:valid + label,
form div.textinput input[readonly] + label {
    font-size: 11px;
    top: -5px;
}

form div.textinput input:focus + label {
    color: indianred;
}

input:focus {
    outline: none;
}



#businesses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.card {
    background-color: #7c7a7a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(30% - 20px);
    margin-bottom: 20px;
    padding: 15px;
  }
    
 
    
    

.card img {
    width: 100%;
    border-radius: 10px;
}

 .Company-name {
    font-size: 1.2em;
    font-weight: 600;
    color: #000;
  }
 .Company-text {
    text-align: left;
    color: #000;
}

/*view business formatting*/
button.add_to_basket {
    margin: 10px 0 20px 0;
    color: #444;
    font-size: 12px;
    display: block;
    height: 40px;
    background: transparent;
    border: solid 1px #e1e5ee;
    border-radius: 0.5rem;
    padding: 0 15px;
}
button.add_to_basket:hover {
    background-color: #eee;
    color: indianred;
    border-color: #ee6e6e;
    cursor: pointer;
}
hr {
    width: 100%;
    left: 50%;
    border: 1px solid #eee;
    margin-bottom: 20px;
}


/*Admin felület formázása*/
 .delet-button{
     background-color: red;
     color: white;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     border-radius: 1%;
 }
 .delet-tabel{
     border: 1px solid;
     width: 100%;
     align-content: center;
 }
.delet-tabel, th, td{
    border: 1px solid;
    text-align-all: center;

}
.change-tabel{
    border: 1px solid;
    width: 100%;
    align-content: center;
}
.change-tabel, th, td {
    border: 1px solid;
    align-content: center;
    text-align: center;

}
.adminform{
     width: 100%;
}
.Admin-button{
    flex: auto;
    padding: 3px;
}

.admin-container{

    padding: 6px 16px;
    margin: 20px;
    border: 2px solid #8f8f8f;
    border-top: #848484 solid 1px;
    border-left: indianred solid 4px;
    border-radius: 0.5rem;
    transition: transform 0.2s ease;
    width: 20%;
    display: flex;
    justify-content: space-between;

}
.update{
    background-color: green;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 1%;
    position: absolute;
    width: 30%;
    height: auto;

}